<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <p>
      <% if user_signed_in? %>
        <%= link_to t('views.common.index', name: Book.model_name.human), books_path %> |
        <%= link_to t('views.common.index', name: User.model_name.human), users_path %>
        <br>
        <strong><%= current_user.email %></strong>.
        <%= link_to t('views.devise.edit'), edit_user_registration_path %> |
        <%= link_to t('views.devise.logout'), destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
  </body>
</html>
